/* Header */
.header {
  background-color: #29398e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  height: 339px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  color: var(--accent-color);
}

.header p {
  font-size: 2rem;
  color: var(--accent-color);
}

/* About Section */
#about {
  padding: 60px 0;
  background-color: #787575;
}

#about .card {
  border: none;
  background-color: var(--main-color);
  color: var(--text-light);
}

#about .card h5 {
  font-size: 1.8rem;
}

/* Our Mission*/
.mission-section {
  background-color: #f8f9fa;
  padding: 40px 0px;
}

.mission-section h2 {
  font-size: 42px;
}

.mission-icon {
  font-size: 80px;
  color: black;
}

.mission-title {
  margin-top: 20px;
  font-weight: bold;
}

.mission-description {
  margin-top: 10px;
  color: #6c757d;
}

/* Team Section */
#team {
  padding: 80px 0;
  background-color: rgb(235, 235, 235);
}
.team-img {
  width: 250px;
  height: 250px; 
  border-radius: 50%;
  object-fit: cover;
}

#team h2 {
  margin-bottom: 40px;
  color: var(--main-color);
}

#team .card {
  border: none;
  background-color: white;
  color: var(--main-color);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 100%;
}

#team .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#team .card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto 20px;
  border: 5px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#team .card h5 {
  margin-bottom: 10px;
  font-weight: 600;

}

#team .card p {
  color: var(--text-color);
  text-align: left;
}

#team .card .role {
  font-weight: 500;
  color: #007bff;
  margin-bottom: 15px;
}