body {
  background-color: #1f2937;
}
.form-container {
  max-width: 400px;
  border-radius: 0.75rem;
  background-color: #111827;
  padding: 2rem;
  color: #f3f4f6;
  margin-top: 120px;
  
}
.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.input-group {
  margin-bottom: 1rem;
}
.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #9ca3af;
  font-size: 0.875rem;
}
.input-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #374151;
  background-color: #1f2937;
  color: #f3f4f6;
}
.input-group input:focus {
  outline: none;
  border-color: #a78bfa;
}
.sign {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #a78bfa;
  color: #111827;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}
.sign:hover{
  opacity: 0.9;
}
.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.line {
  height: 1px;
  flex: 1;
  background-color: #374151;
}
.social-message .message {
  padding: 0 0.75rem;
  font-size: 0.875rem;
  color: #9ca3af;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.social-icons .icon {
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin: 0 0.5rem;
}
.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}
.login {
  text-align: center;
  font-size: 0.75rem;
  color: #9ca3af;
  margin-top: 1rem;
}
.login a {
  color: #9ca3af;
  text-decoration: none;
}
.login a:hover {
  color: #a78bfa;
  text-decoration: underline;
}
.back {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #374151;
  color: #f3f4f6;
  border: none;
  border-radius: 0.375rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.back:hover {
  background-color: #a78bfa;
  color: #111827;
}